body {
    padding-top: 50px;
    padding-bottom: 20px;  
    text-align: center;
    background: url("Dolphin.webp") left 40px top 150px no-repeat, url("ba59e_mv2.png") right 30px bottom 40px no-repeat, #38acff;
    padding: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#TimerDone{

    display: none;
}

button, input{
    border-radius: 8px;
    font-size: 50px;

}
h1, h2{
    font-size: 80px;
}

label, select{
font-size: 50px;

}

#md{
    position: absolute;
    top: 20px;
    left: 20px;
}

#mc{
    position: absolute;
    top: 100px;
    left: 30px;
}

#d{
    position: absolute;
    top: 80px;
    right: 20px;
}